.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1200px;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

@media (max-width: 300px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

button.resetButton {
  cursor: pointer;
}

button.rankButton {
  margin-left: 0.5rem;
  cursor: pointer;
}

.inputsSection {
  margin-top: 0.75rem;
}

input.wordleLetters {
  /* Force uppercase letters. */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  border-width: 0;
  padding: 0.4rem;
  color: #fff;
}

input.banned {
  width: 90%;
  margin-top: 0.5rem;
  background-color: #787c7e;
}

input.hints {
  background-color: #c9b458;
}

input.known {
  background-color: #6aaa64;
}

input.oneFifth {
  /* Leave some space for the gap. */
  width: 16%;
}

.possibleSolutions {
  margin-top: 1rem;
}

.possibleSolutionsList {
  margin-top: 0.5rem;
  ;
}

.possibleSolutionWord {
  font-weight: bold;
}

.wordDate {
  position: absolute;
  left: 4.5rem;
}

.calendarIcon {
  margin-right: 0.2rem;
}